#search-input {
    position: absolute;
    margin-left: 300px;
    margin-top: 30px;
    width: 70%;
    height: 100px;


}

#result-bar {
    width: 50%;
    height: 80%;
    position: absolute;
    left: 0;
    top: 150px;
    border: 1px solid lightgrey;

    display: grid;
    grid-template-columns: repeat(auto-fill, 260px);
    grid-auto-flow: row;
    grid-auto-rows: 305px;
}

#video-bar {
    width: 50%;
    height: 80%;
    position: absolute;
    right: 0;
    top: 150px;
    border: 1px solid lightgrey;
}