#latest-vid-header {
    position: absolute;
    left: 30px;
}

#home-video {
    position: absolute;
    top: 50px;
    left: 30px;
    height: 400px;
    width: 100%;
}

#video {
    position: relative;
    float: left;
    width: 30%;
    height: 400px;
}

#videoinfo {
    position: relative;
    float: left;
    width: 500px;
    height: 400px;
}

#channel-home-container {
    width: 100%;
    height: 100%;
}


